@charset "utf-8";

// common import
@import "compass";
@import "bootstrap";
@import "font-awesome";
@import "mixin";
@import "settings";
@import "parts";
@import "common";
@import "subpage";

// reason.scss

.tab {
    &-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        @include clearfix;
        li {
            float: left;
            width: 25%;
            a {
                display: block;
                padding: 1em 0;
                color: #333;
                font-size: $fnt_size_l;
                font-weight: bold;
                text-align: center;
            }
            &:nth-child(1) {
                background-color: $clr_yellow;
            }
            &:nth-child(2) {
                background-color: $clr_cyellow;
            }
            &:nth-child(3) {
                background-color: $clr_lbeige;
            }
            &:nth-child(4) {
                background-color: $clr_dbeige;
            }
        }
    }
    &-content {
        padding: $mg_m 0;
        background-color: #FFF;
        &_yellow {
            border-top: $clr_yellow 2px solid;
        }
        &_cyellow {
            border-top: $clr_cyellow 2px solid;
        }
        &_lbeige {
            border-top: $clr_lbeige 2px solid;
        }
        &_dbeige {
            border-top: $clr_dbeige 2px solid;
        }
        dl {
            dt {
                padding-left: $mg_m;
            }
            dd a {
                display: block;
                text-decoration: underline;
                background: url(../../assets/img/common/common_icon_03.png) right $mg_s center no-repeat;
                padding-right: $mg_m;
            }
        }
    }
}

.pager ul li a {
    &:hover,&:focus,&.current {
        background-color: $clr_yellow;
        color: #FFF;
    }
}
