@charset "utf-8";

// common import
@import "compass";
@import "bootstrap";
@import "font-awesome";
@import "mixin";
@import "settings";
@import "parts";
@import "common";
@import "subpage";


.mainSec {
    &-tit_1 {
        @include clearfix;
        time {
            display: block;
            float: right;
            font-size: $fnt_size_l;
            padding-top: 7px;
        }
    }
    &-content {
        img {
            max-width: 100%;
            height: auto;
        }
    }
}
