@charset "utf-8";

// common import
@import "compass";
@import "bootstrap";
@import "font-awesome";
@import "mixin";
@import "settings";
@import "parts";
@import "common";
@import "subpage";

// reason.scss

.mainSec {
    &-content {
        padding: $mg_m 0;
        background-color: #FFF;
    }
}

.list {
    &-imgAnchorList {
        li {
            background: none;
        }
        dl {
            padding-right: $mg_m;
        }
    }
    &-rowdl dt {
        text-align: center;
    }
}

.pager ul li a {
    &:hover,&:focus,&.current {
        background-color: $clr_mgreen;
        color: #FFF;
    }
}
